/* Default global and base resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;

  background-color: #262626;
  font-family: 'Sono', sans-serif;
  color: #fafaf9;
  padding: 40px;
}

/* Make sure imgs are responsive */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* MAIN LAYOUT */

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

.header {
  margin-bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: 'Coiny', Arial, sans-serif;
  line-height: 1;
  margin-top: 5px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;

  display: flex;
  align-items: center;
  gap: 24px;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Coiny', Arial, sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.vote-buttons {
  margin-left: auto;
}

ul {
  list-style: none;
}
