/* Default global and base resets */
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
	font: inherit;
}

html {
	color-scheme: dark light;
}

body {
	min-height: 100vh;

	background-color: #262626;
	font-family: "Sono", sans-serif;
	color: #fafaf9;
	padding: 48px 64px 0px;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
} /* Make sure imgs are responsive */

.hidden {
	display: none !important;
}

::-moz-selection {
	color: #fafaf9;
	background: #a8a29e;
}

::selection {
	color: #fafaf9;
	background: #a8a29e;
}

/* MAIN LAYOUT */

#root {
	max-width: 1500px;
	margin: 0 auto;
}

section {
	padding-bottom: 40px;

	overflow-y: scroll;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* disable scroll bars for Firefox */
}

section::-webkit-scrollbar {
	display: none; /* disable scroll bars for Chrome, Safari, and Opera */
}

.message {
	text-align: center;
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 600;
	margin-top: 24px;
}

.main {
	display: grid;
	grid-template-columns: 250px 1fr;
	gap: 48px;

	height: calc(
		100vh - 48px - 68px - 40px - 40px
	); /* last 40px gives below a nudging space */
}

@media (max-width: 900px) {
	.main {
		grid-template-columns: 1fr;
	}
}

.header {
	margin-bottom: 40px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 16px;
}

.fact-form {
	background-color: #44403c;
	margin-bottom: 40px;
	padding: 16px 32px;
	text-align: center;
	border-radius: 16px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 16px;
}

.fact-form input,
.fact-form select {
	width: 220px;
	background-color: #78716c;
	border: none;
	border-radius: 100px;
	padding: 16px;
	font-size: 18px;
	color: inherit;
	font-family: inherit; /* text color is not auto inherited from the parent for input by default in CSS */
}

.fact-form input:first-child {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1; /* Allows the flex item to grap all the remaining space for himself */
}

.fact-form input::-webkit-input-placeholder {
	color: #a8a29e;
}

.fact-form input::-moz-placeholder {
	color: #a8a29e;
}

.fact-form input:-ms-input-placeholder {
	color: #a8a29e;
}

.fact-form input::-ms-input-placeholder {
	color: #a8a29e;
}

.fact-form input::placeholder {
	color: #a8a29e;
}

.fact-form span {
	font-weight: 600;
	font-size: 18px;
	margin-right: 18px;
}

.disputed {
	color: #ef4444;
	font-weight: 600;
	margin-right: 10px;
}

@media (max-width: 1000px) {
	body {
		/* padding: 32px 48px; */
	}

	.fact-form {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
	}

	.fact-form input,
	.fact-form select {
		width: auto;
	}
}

.logo img {
	width: 68px;
	height: 68px;
}

h1 {
	font-size: 42px;
	text-transform: uppercase;
	font-family: "Coiny", Arial, sans-serif;
	line-height: 1;
	margin-top: 5px;
}

.fact {
	font-size: 20px;
	line-height: 1.4;
	background-color: #44403c;
	margin-bottom: 16px;
	padding: 16px 24px;
	letter-spacing: -1px;
	border-radius: 16px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 24px;
}

@media (max-width: 1200px) {
	.fact {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
	}
}

.tag {
	text-transform: uppercase;
	font-size: 14px;
	font-family: "Coiny", Arial, sans-serif;
	padding-top: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 100px;
}

.vote-buttons {
	margin-left: auto;
	-ms-flex-negative: 0;
	flex-shrink: 0;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	gap: 8px;
}

.vote-buttons button {
	border: none;
	border-radius: 100px;
	background-color: #78716c;
	font-size: 18px;
	padding: 6px 12px;
	border-radius: 100px;
	font-family: inherit;
	font-weight: 600;
	color: inherit; /* text color is not auto inherited from the parent for buttons by default in CSS */
	cursor: pointer;

	-webkit-transition: 0.3s;

	-o-transition: 0.3s;

	transition: 0.3s;
}

.vote-buttons button:hover {
	background-color: #292524;
}

.vote-buttons button:disabled {
	background-color: #44403c;
}

ul {
	list-style: none;
}

.source:link,
.source:visited {
	color: #a8a29e;
	text-decoration: none;
	margin-left: 12px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.source:hover,
.source:active {
	color: #3b82f6;
}

.category {
	margin-bottom: 16px;
}

.btn {
	border: none;
	font-family: "Coiny", Arial, sans-serif;
	line-height: 1;
	text-transform: uppercase;
	font-size: 17px;
	padding: 16px 0 13px; /* top - left/right - bottom */
	background-image: -o-linear-gradient(
		315deg,
		#3b82f6,
		#ef4444,
		#16a34a,
		#eab308
	);
	background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
	border-radius: 100px;
	color: inherit; /* text color is not auto inherited from the parent for buttons by default in CSS */
	cursor: pointer;

	-webkit-transition: 0.25s;

	-o-transition: 0.25s;

	transition: 0.25s;
}

.btn:hover {
	-webkit-transform: scale(110%) rotate(-2deg);
	-ms-transform: scale(110%) rotate(-2deg);
	transform: scale(110%) rotate(-2deg);
}

.btn-large {
	font-size: 20px;
	padding: 20px 32px 17px;
}

.btn-all-categories {
	margin-bottom: 16px;
	width: 100%; /* Buttons are inlien elemments, therefore need to make it 100% width to force occupy the entire available space */
}

.btn-category {
	width: 100%;
	background-image: none;
}
